<!-- home.component.html -->
<div shadow class="container-md">
  <div class="jumbotron text-center mt-5">
    <h1>Welcome to <span class="highlight">Ai-R</span>ecruitment</h1>
    <p>Your AI-powered recruitment solution</p>
    <button mat-fab color="primary" routerLink="/user-login">
      <mat-icon>login</mat-icon>
    </button>
  </div>

  <div class="row mt-5">
    <div class="col-md-4" *ngFor="let feature of features">
      <div class="card feature-card">
        <div class="card-body text-center">
          <mat-icon class="feature-icon">{{ feature.icon }}</mat-icon>
          <h5 class="card-title">{{ feature.title }}</h5>
          <p class="card-text">{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2>How It Works</h2>
    <div class="row text-center">
      <div class="col-md-3" *ngFor="let step of steps; let i = index">
        <mat-icon class="step-icon">{{ step.icon }}</mat-icon>
        <h4 style="color:#477d3b; ;">Step {{ i + 1 }}</h4>
        <p>{{ step.description }}</p>
      </div>
    </div>
  </div>

  <div class="mt-5 jumbotron">
    <h2>Contact Us</h2>
    <form>
      <div class="form-group">
        <label for="contactEmail">Email address</label>
        <input type="email" class="form-control" id="contactEmail" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="contactMessage">Message</label>
        <textarea class="form-control" id="contactMessage" rows="3"></textarea>
      </div>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
