/* home.component.css */
.container-md {
  margin-top: 3rem;
}

.jumbotron {
  background-color: #000000;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem !important;
}

.card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.highlight {
  background: radial-gradient(circle, #27e227, #25391e);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-icon {
  font-size: 48px;
  color: #3f51b5;
  margin-bottom: 10px;
}

.feature-card {
  background-color: #0e2b04;
  color: white;
}

.step-icon {
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 10px;
}

button {
  margin-top: 1rem;
}

.feature-screenshot {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-screenshot:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.screenshot-description {
  margin-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container-md {
    margin-top: 1rem;
  }
}
