/* profile.component.css */
.container {
    max-width: 800px;
  }
  
  .mat-card {
    margin-top: 30px;
  }
  
  .mat-card-header {
    background-color: #007bff;
    color: white;
  }
  
  .mat-form-field.full-width {
    width: 100%;
  }
  
  .profile-image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
  }
  
  button {
    margin-top: 20px;
  }
  