<div class="container-md">
  <div class="row">
    <br><br>
    <h1 class="text-center">Candidate Compatibility Checker</h1>

    <br><br><br>



    <mat-stepper orientation="horizontal" #stepper>
      
      <!-- Step 1: Candidate Data -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Candidate Data</ng-template>
          <div class="container mt-5">
            <div class="card">
              <div class="card-body">
                <br>
                <h5 class="card-title">Upload Candidate Documents</h5>
                <br>
                <div class="row">
                  <!-- Resume Upload Section -->
                  <div class="resume-section col-md-6">
                    <h6>Resume</h6>
                    <div class="drag-drop-area" (drop)="onDrop($event, 'resume')" (dragover)="onDragOver($event)" (click)="triggerFileInput('resume')">
                      <p>Drag and drop your resume here, or click to select file</p>
                      <input type="file" (change)="onFileSelected($event, 'resume')" hidden #resumeInput>
                    </div>
                    <br>
                    <button mat-raised-button color="warn" (click)="resumeInput.click()">Choose Resume</button>
                    <ul class="list-group mt-3">
                      <li class="list-group-item" *ngFor="let file of resumeFiles">{{ file.name }}</li>
                    </ul>
                  </div>
                  <!-- Cover Letter Upload Section -->
                  <div class="cover-letter-section col-md-6">
                    <h6>Cover Letter</h6>
                    <div class="drag-drop-area" (drop)="onDrop($event, 'coverLetter')" (dragover)="onDragOver($event)" (click)="triggerFileInput('coverLetter')">
                      <p>Drag and drop your cover letter here, or click to select file</p>
                      <input type="file" (change)="onFileSelected($event, 'coverLetter')" hidden #coverLetterInput>
                    </div>
                    <br>
                    <button mat-raised-button color="accent" (click)="coverLetterInput.click()">Choose Cover Letter</button>
                    <ul class="list-group mt-3">
                      <li class="list-group-item" *ngFor="let file of coverLetterFiles">{{ file.name }}</li>
                    </ul>
                  </div>
                </div>
                <br><br><br>
                <!-- <button mat-raised-button (click)="onUpload()" [disabled]="!resumeFiles.length || !coverLetterFiles.length">Upload</button> -->
              </div>
            </div>
          </div>
          <br><br>
          <div>
            <button mat-raised-button matStepperNext class="float-end">Next</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Step 2: Job Description -->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Job Description</ng-template>
          <div class="container mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Enter Job Description</h5>
                <br>
                <!-- Job Description Text Area -->
                <div class="form-group">
                  <textarea id="jobDescription" formControlName="jobDescription" class="form-control jd-area" rows="10" placeholder="Enter job description here..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext class="float-end">Next</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Step 3: Behavioral Values -->
      <mat-step>
        <ng-template matStepLabel>Behavioral Values</ng-template>
        <div class="container mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Enter Behavioral Values</h5>
              <br>
              <form >
                <mat-form-field class="example-chip-list" style="width : 100%">
                  <mat-chip-grid #chipGrid aria-label="Fruit selection">
                    <mat-chip-row *ngFor="let fruit of fruits()" (removed)="remove(fruit)">
                      {{fruit}}
                      <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input
                    name="currentFruit"
                    placeholder="Enter new Behaviour..."
                    #fruitInput
                    [(ngModel)]="currentFruit"
                    [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                  />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits()" [value]="fruit">{{fruit}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
        <br><br>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="stepper.reset()">Reset</button>
          <button mat-raised-button class="float-end" (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>


<br><br>
<hr>
<br><br>

<!-- Spinner section -->
<div class="text-center spinner-overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
  
</div>


<div *ngIf="isResponseReceived"  class="container-md">  
  <div class="row">
    <div class="col-4">

      <mat-spinner mode="determinate" [value]="resume_match_score"></mat-spinner>

    
    </div>


    <div class="col-8">


      <div class="card">
        <div class="card-header">
          Cover Letter Summary
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">

            {{ cover_letter_summary }}

          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      
      <br><br>

      <div class="card">
        <div class="card-body">

          <ul>
            <li *ngFor="let item of behavioral_scores | keyvalue">
              <strong>{{ item.key }}</strong> 
              <strong class="float-end"> {{ item.value }} </strong>
              <mat-progress-bar mode="determinate" [value]="item.value"></mat-progress-bar>
    
              
            </li>
          </ul>

        </div>
      </div>

      

    </div>
  </div>
</div>


