<!-- Main Form Section section -->





<div class="container-fluid" style="padding: 100px;">
  <h1 class="text-center highlight" >Candidate Compatibility Checker</h1>
  <br><br>
      
  <div class="main-form">
    <div class="container-md">
      <div class="row">
      
        <mat-stepper orientation="horizontal" #stepper>
          <!-- Step 1: Candidate Data -->
          <mat-step [stepControl]="firstFormGroup">
            
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Candidate Data</ng-template>
              <div class="container mt-5">
                <div class="card">
                  <div class="card-body">
                    <br>
                    <h5 class="card-title">Upload Candidate Documents</h5>
                    <br>
                    <div class="row">
                      <!-- Resume Upload Section -->
                      <div class="resume-section col-md-6">
                        <h6>Resume</h6>
                        <div class="drag-drop-area" (drop)="onDrop($event, 'resume')" (dragover)="onDragOver($event)" (click)="triggerFileInput('resume')">
                          <p>Drag and drop your resume here, or click to select file</p>
                          <input type="file" (change)="onFileSelected($event, 'resume')" hidden #resumeInput>
                        </div>
                        <br>
                        <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" 
                          color="warn" (click)="resumeInput.click()">Choose Resume</button>
                        <ul class="list-group mt-3">
                          <li class="list-group-item" *ngFor="let file of resumeFiles">{{ file.name }}</li>
                        </ul>
                      </div>
                      <!-- Cover Letter Upload Section -->
                      <div class="cover-letter-section col-md-6">
                        <h6>Cover Letter</h6>
                        <div class="drag-drop-area" (drop)="onDrop($event, 'coverLetter')" (dragover)="onDragOver($event)" (click)="triggerFileInput('coverLetter')">
                          <p>Drag and drop your cover letter here, or click to select file</p>
                          <input type="file" (change)="onFileSelected($event, 'coverLetter')" hidden #coverLetterInput>
                        </div>
                        <br>
                        <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" 
                          color="accent" (click)="coverLetterInput.click()">Choose Cover Letter</button>
                        <ul class="list-group mt-3">
                          <li class="list-group-item" *ngFor="let file of coverLetterFiles">{{ file.name }}</li>
                        </ul>
                      </div>
                    </div>
                    <br><br><br>
                    <!-- <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" 
                      (click)="onUpload()" [disabled]="!resumeFiles.length || !coverLetterFiles.length">Upload</button> -->
                  </div>
                </div>
              </div>
              <br><br>
              <div>
                <button class="run-compatibility-check-btn float-end btn btn-outline-success shadow-sm" 
                  matStepperNext >Next</button>
              </div>
            </form>
          </mat-step>
          
          <!-- Step 2: Job Description -->
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Job Description</ng-template>
              <div class="container mt-5">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Enter Job Description</h5>
                    <br>
                    <!-- Job Description Text Area -->
                    <div class="form-group">
                      <textarea id="jobDescription" formControlName="jobDescription" class="form-control jd-area" rows="10" placeholder="Enter job description here..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <br><br><br>
              <div>
                <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" 
                  matStepperPrevious>Back</button>
                <button class="run-compatibility-check-btn float-end center-button btn btn-outline-success shadow-sm" 
                  matStepperNext >Next</button>
              </div>
            </form>
          </mat-step>
          
          <!-- Step 3: Behavioral Values -->
          <mat-step>
            <ng-template matStepLabel>Behavioral Values</ng-template>
            <div class="container mt-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Enter Behavioral Values</h5>
                  <br>
                  <form>
                    <mat-form-field class="example-chip-list" style="width : 100%">
                      <mat-chip-grid #chipGrid aria-label="Fruit selection">
                        <mat-chip-row *ngFor="let fruit of fruits()" (removed)="remove(fruit)">
                          {{fruit}}
                          <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      </mat-chip-grid>
                      <input
                        name="currentFruit"
                        placeholder="Enter new Behaviour..."
                        #fruitInput
                        [(ngModel)]="currentFruit"
                        [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                      />
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits()" [value]="fruit">{{fruit}}</mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
            <br><br>
            <div>
              <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" matStepperPrevious>Back</button>
              <button class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" (click)="stepper.reset()">Reset</button>
              <button class="run-compatibility-check-btn float-end btn btn-outline-success shadow-sm"  (click)="submit()">Submit</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
  
<br>


  
  
  
  
  
  
  
  <div class="text-center spinner-overlay" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  
  
  
  <div *ngIf="isResponseReceived" class="container-md response">
  <br><br>
  <hr>
  <br><br>

  <div class="row">
    <!-- Resume Match Score -->
    <div class="col-6">
      <mat-card class="shadow-sm border-primary" style="height: 250px;">
        <mat-card-header class="bg-black text-white d-flex justify-content-between align-items-center">
          <span>Resume to Job Description Match</span>
          <mat-icon>thumb_up</mat-icon>
        </mat-card-header>
        <mat-card-content class="text-center">
          <div class="d-flex justify-content-around align-items-center" style="padding: 20px;" >
            <!-- Resume Match Score -->
            <div class="position-relative d-flex flex-column justify-content-center align-items-center">
              <mat-spinner mode="determinate" [value]="resume_match_score" diameter="120"></mat-spinner>
              <div class="position-absolute text-green" style="font-size: 24px;">{{ resume_match_score | number:'1.2-2' }}%</div>
              <div style="margin-top: 10px;">Keyword Match</div>
            </div>
        
            <!-- Model Match Score -->
            <div class="position-relative d-flex flex-column justify-content-center align-items-center">
              <mat-spinner mode="determinate" [value]="model_match_score" diameter="120"></mat-spinner>
              <div class="position-absolute text-green" style="font-size: 24px;">{{ model_match_score | number:'1.2-2' }}%</div>
              <div style="margin-top: 10px;">AI Match</div>
            </div>
          </div>
        </mat-card-content>
        
      </mat-card>
    </div>

    <!-- Cover Letter Summary -->
    <div class="col-6">
      <mat-card class="shadow-sm border-success" style="height: 250px;">
        <mat-card-header class="bg-black text-white d-flex justify-content-between align-items-center">
          <span>Cover Letter Summary</span>
          <mat-icon>assignment_turned_in</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            {{ cover_letter_summary }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Behavioral Scores -->
  <mat-card class="shadow-sm mt-4">
    <mat-card-header class="bg-black text-white d-flex justify-content-between align-items-center">
      <h5 class="card-title text-center mb-4"><span style="color: white;">Behavioral Scores</span></h5>
      <mat-icon>scores</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <ul class="list-unstyled">
        <li *ngFor="let item of behavioral_scores | keyvalue" class="d-flex justify-content-left align-items-center">
          <span><mat-icon>star</mat-icon> {{ item.key }}</span>
          <div class="w-50 mx-3">
            <mat-progress-bar mode="determinate" [value]="item.value" color="accent"></mat-progress-bar>
          </div>
          <span>{{ item.value }}%</span>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

  

</div>