  
  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .spinner-overlay mat-spinner {
    width: 50px; 
    height: 50px; 
  }

  .job-card {
    margin-bottom: 20px;
  }
  
  mat-card {
    /* display:inline-flex; */
    /* flex-direction: column;
    justify-content: space-between;
    height: 100%; */
    width: 30%;
  }

  .job-card {
    margin-bottom: 20px;
  }
  /* job-list.component.css */

.container {
  max-width: 1200px;
}

h2 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.job-card {
  width: 100%;
}

.mat-card-title,
.mat-card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-actions {
  justify-content: flex-end;
}

.mat-elevation-z8 {
  margin-top: 1rem;
}

.mat-form-field {
  margin-bottom: 1rem;
}

.profile-container {
  display: flex;
  align-items: center; 
  gap: 8px; /* Space between elements */
}

.match-percentage {
  margin: 0; /* Remove default margin */
  color: green ;
  font-weight: bold; /* Bold text */
}

.profile-link {
  text-decoration: none; /* Remove underline from link */
  display: flex; /* Ensure icon is aligned properly */
  align-items: center; /* Align icon vertically in the center */
}

.profile-link mat-icon {
  color: black; 
  font-size: 24px; 
}

.job-card {
  background-color: white;
}

.card-title {
  color: green;
}

.card-content {
  color: black;
}

.center-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  color: black;
  cursor: pointer;
}


.job-listings-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.job-listings-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px; 
  padding-bottom: 20px;
}

.candidates {
  padding-left: 20px;
  height: 100%;
  overflow-y: auto;
}
