<div class="container-fluid" style="padding: 80px;">
  <!-- Job Listings Section -->
  <div class="row" style="height: 100vh;">
    <!-- Job Listings Column -->
    <div class="col-4 job-listings-column">
      <h2 ><strong class="highlight">  Job Listings </strong></h2>
      <div class="row justify-content-center job-listings-scroll">
        <div *ngFor="let job of jobs">
          <mat-card class="job-card">
            <mat-card-header>
              <mat-card-title class="card-title">{{ job['Job Title'] }}</mat-card-title>
              <mat-card-subtitle class="card-subtitle">{{ job.Qualifications }} | {{ job.Experience }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="card-content">{{ job['Job Description'] }}</p>
            </mat-card-content>
            <mat-card-actions class="text-center">
              <button color="primary" class=" run-compatibility-check-btn center-button btn btn-outline-success shadow-sm" (click)="runJDToResumeMatch(job['Job Id'])">Run</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- Candidate Data Section -->
    <div class="candidates col-8">
      <h2 ><strong class="highlight"> Candidate Data </strong></h2>
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-8">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Search Candidate</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
              </mat-form-field>
            </div>
            <div class="col-md-4 text-right">
              <button  class="mr-2 run-compatibility-check-btn center-button btn btn-outline-success shadow-sm"
               (click)="openExportDialog()">Export Data</button> <br>
              <button  class="run-compatibility-check-btn center-button btn btn-outline-success shadow-sm"
               (click)="getAllCandidates()">Load Entire Data</button>
            </div>
          </div>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let candidate">{{ candidate.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let candidate">{{ candidate.name }}</td>
            </ng-container>

            <ng-container matColumnDef="experience">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
              <td mat-cell *matCellDef="let candidate">{{ candidate.experience }}</td>
            </ng-container>

            <ng-container matColumnDef="profile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
              <td mat-cell *matCellDef="let candidate">
                <div class="profile-container d-flex justify-content-between align-items-center">
                  <p *ngIf="showScore" class="match-percentage mb-0">Match Percentage: {{ candidate.match_score }}%</p>
                  <a [routerLink]="['/candidate-profile', candidate.id]" class="profile-link">
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
