.page-not-found {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  
    a {
      font-size: 1.2rem;
      color: #007bff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  