<div class="page-not-found">
    <div class="card float-center">
        <div class="card-body">


            <h1>404 - Page Not Found!</h1>
            <p>We're sorry, but the page you were looking for doesn't exist.</p>
        
            <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon" routerLink="/">
                  <mat-icon>home</mat-icon>
                </button>
              </div>



        </div>
        </div>

   


  </div>
  