<div class="container" style="padding-top: 100px;">
  <mat-card class="candidate-profile-card">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ candidate.name }}'s Profile</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="row mb-4">
      <div class="col-md-6">
        <div class="profile-detail">
          <mat-icon>email</mat-icon>
          <span class="detail-label">Email:</span>
          <span class="detail-value">{{ candidate.email }}</span>
        </div>

        <div class="profile-detail">
          <mat-icon>phone</mat-icon>
          <span class="detail-label">Phone Number:</span>
          <span class="detail-value">{{ candidate.phone_number }}</span>
        </div>

        <div class="profile-detail">
          <mat-icon>home</mat-icon>
          <span class="detail-label">Address:</span>
          <span class="detail-value">{{ candidate.address }}</span>
        </div>

        <div class="profile-detail">
          <mat-icon>work</mat-icon>
          <span class="detail-label">Experience:</span>
          <span class="detail-value">{{ candidate.experience }}</span>
        </div>
      </div>

      <div class="col-md-6">
       
        <button (click)="showResume()" class="btn btn-dark w-50 mb-3">
          <mat-icon>visibility</mat-icon>
          {{ show ? 'Hide Resume' : 'Show Resume' }}
        </button>
        <a [href]="candidate.cover_letter" target="_blank" class="btn btn-dark w-50 mb-3">
          <mat-icon>file_download</mat-icon> Download Cover Letter
        </a>
      </div>
    </div>

    <!-- Button Section -->
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <button class="btn run-compatibility-check-btn w-30 shadow-sm" routerLink="/candidate-compatibility-check">
          Run Candidate Compatibility Checker
        </button>
      </div>
      <div class="col-4"></div>
    </div>
  </mat-card>
</div>

<div class="container"  *ngIf="show">
  <br><br>
  <div [innerHtml]="candidate.resume_html | safeHtml"></div>
</div>
 
