/* You can add global styles to this file, and also import other style files */
/* @import 'src/dark-theme.scss'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;



}
.highlight {
    background: radial-gradient(circle, #27e227, #25391e);
    -webkit-background-clip: text;
    color: transparent;
  }

/* Default light theme styles */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.spinner-overlay {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the spinner is above other content */
}

.spinner-overlay mat-spinner {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}