/* You can add global styles to this file, and also import other style files */
/* @import 'src/dark-theme.scss'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;



}
.highlight {
    background: radial-gradient(circle, #27e227, #25391e);
    -webkit-background-clip: text;
    color: transparent;
  }

/* Default light theme styles */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}