.custom-link {
    color: white;
    background-color: black;
    transition: background-color 0.3s;
  }
  
  .custom-link:hover {
    background-color: rgba(94, 226, 94, 0.1); 
  }
  
  .active-link {
    background-color: green;
    color: white !important;
  }

  .navbar{
    background: black;
    opacity: 98%;
  }

  .highlight {
    color: green;
  }

  