.custom-link {
    color: black;
    transition: background-color 0.3s;
  }
  
  .custom-link:hover {
    background-color: rgba(94, 226, 94, 0.1); /* Slight green background on hover */
  }
  
  .active-link {
    background-color: black;
    color: white !important;
  }

  .navbar{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(108, 104, 104));
    opacity: 98%;
  }

  .highlight {
    background: radial-gradient(circle, #27e227, #25391e);
    -webkit-background-clip: text;
    /* color: transparent; */
  }